@import url(http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic);

/* Base Styles
===================================*/
body {
	color: #183532;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	line-height: 1.8;
    background-color: #fff;
}

Link {
	color: #f00;
	text-decoration: none;
	background-color: transparent;
}
/* Layout Styles
===================================*/
section:not(:first-of-type),
section:not(:nth-of-type(n2)) {
	margin-top: 80px;
}

/*
footer {
	margin-top: 80px;
}
*/

/* Nav / Navbar Styles
===================================*/
.navbar {
	background: transparent;
	border-bottom: none;
	padding: 20px 0 10px;
	transition-duration: 0.6s;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
	color: #ddd;
	padding: 10px 15px 10px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
	background: transparent;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #fff;
    background-color: transparent;
}
/*
.navbar-default .navbar-nav>li {
	margin-right: 8px;
}
.navbar-default .navbar-nav>li:last-of-type {
	margin-right: 0;
}

.dropdown-menu,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
	background: rgba(24,53,50, 0.1);
}

.dropdown-menu {
	padding: 8px;
	box-shadow: none;
	border: none;
}
.dropdown-menu li a {
	padding: 4px 8px;
	border-radius: 6px;
}
.nav-dropdown-scroll {
	background: #e7eaea;
	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.4);
}

.navbar-toggle,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background: #fff;
}
*/

/* Cover / Jumbotron Styles
===================================*/
section.cover {
	padding-top: 70px;
	background: url('../images/Home/Landing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	max-width: 100%;
}
.jumbotron {
	align-self: center;
	background: transparent;
	color: #ffffff;
	text-align: center;
	width: 100%;
	margin-top: -100px;
}
.jumbotron img {
	max-width: 100%;
	padding: 0 20px;
}
.jumbotron-btn {
	background: #fff;
	color: #111111;
}
.jumbotron-btn:hover {
	background: rgb(24,53,50);
	color: #fff;
	border: 1px solid #fff;
}

img.cover {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: 50%;
  height: auto;
  display: flex;
}

/* Section Styles
===================================*/
.main-title {
	margin-top: 70px;
}
.main-sub {
	color: #f00;
	font-size: 50px;
	text-align: center;
}
.section-two-content {
	margin-top: 50px;
	padding: 40px 20px;
	color: #000;
	font-weight: 300;
}
.section-two-content h1 {
	margin: 0 0 20px;
}

.section-two {
	background: url('../images/Home/S2_bcg.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	display: flex;
	color: #000;
	max-width: 100%;
	padding: 30px;
}

.section-two h3 {
	line-height:200%;
}

.section-three {
	background: url('../images/Home/S3_bcg.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;;
	display: flex;
	color: #fff;
	max-width: 100%;
	padding: 30px;
}
.section-three-content {
	margin-top: 30px;
	padding: 50px 20px 70px;
	font-weight: 300;
}
.section-three h2 {
	line-height:200%;
}
.section-three hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-width: 8px;
	border-left: -5px;
	border-color: yellow;
	width: 100%;
}
.section-four {
	background: url('../images/Home/S2_bcg.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	display: flex;
	color: #000;
	max-width: 100%''
}

/* CSS Image Styles
====================================================*/
.css-img-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.img-designers,
.img-developers {
	height: 400px;
	width: 400px;
	background-position: center center;
	background-size: cover;
}
.img-designers {
	background: #183532;
}
.img-developers {
	background: #2A5C56;
}



/* To Top Button Styles
===================================*/
.top {
	display: none;
	background-color: #888;
	bottom: 2em;
	color: #FFF;
	opacity:0.8;
	padding: 1.2em;
	position: fixed;
	right: 1.5em;
	text-decoration: none;
	transition-duration: 1s;
}
.top:hover {
	opacity: 1;
	transition: 1s;
	text-decoration: none;
	color: #fff;
}




/* Helpers for top position on internal page links
====================================================*/
#spytop:before,
section:before {
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
}

/* Media Styles
===================================*/
@media (min-width: 480px) {
	body {
		font-size: 16px;
	}
}
@media (min-width: 768px) {
	.section-one-content {
		padding: 40px 40px;
	}
}
@media (min-width: 992px) {
	.section-one-content {
		padding: 40px 20px;
	}
}
@media (min-width: 1200px) {
	.section-one-content {
		padding: 40px 40px;
	}
}


/* jQuery Styles
===================================*/
.navbar-scroll {
	background: #000;
	padding: 5px 0 5px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
	transition-duration: 0.6s;
	color: #fff;
}

#ac-localnav.ac-localnav-scrim .ac-ln-background {
    background-color: rgba(255,255,255,0.9);
}

#ac-localnav .ac-ln-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}
#ac-localnav *, #ac-localnav *:before, #ac-localnav *:after {
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}
#ac-localnav, #ac-localnav:before, #ac-localnav:after, #ac-localnav *, #ac-localnav *:before, #ac-localnav *:after {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
}

#ac-gn-viewport-emitter {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    z-index: -1;
    x-content: "large";
}
#ac-ln-sticky-placeholder {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    visibility: hidden;
    z-index: -1;
}
