/* Cover /Jumbotron Styles For Climato
========================================*/
section.climato {
  padding-top: 70px;
  background: url('http://resources1.news.com.au/images/2010/11/12/1225952/677201-chris-knox.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  max-width: 100%;
}
