/* Cover /Jumbotron Styles For Hydro
========================================*/
section.hydro {
  padding-top: 70px;
  background: url('http://blogs.cdc.gov/publichealthmatters/files/2013/11/Typhoon-Haiyan-Banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  max-width: 100%;
}

/* Flood Styles
========================================*/
.stay-informed-num {
  position: relative;
  width: 100%; /* for IE 6 */
  margin: 20px 0;
  font-style: italic;
}
.stay-informed-num span {
  font-size: 22px;
  color: #000;
  position: absolute;
}
.stay-informed-num-text {
  position: absolute;
  left: 0;
  padding-left: 7px;
}
.stay-informed-num-img {
  max-width: 100%;
  width: 250px;
  padding: 20px;
}
