/* Cover /Jumbotron Styles For Hydro
========================================*/
section.hydro {
  padding-top: 70px;
  background: url('http://blogs.cdc.gov/publichealthmatters/files/2013/11/Typhoon-Haiyan-Banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  max-width: 100%;
}
