/* Cover /Jumbotron Styles For Hydro
========================================*/
.flood-main {
  margin-top: 50px;
  max-width: 100%;
  height: 70vh;
}
.hydro-title {
  display: flex;
  right: 50px;
  float: right;
  text-align: right;
  align-self: right;
  font-size: 100px;
  color: #fff;
  width: 100%;
}
/* Flood Styles
========================================*/
.stay-informed-num {
  position: relative;
  width: 100%; /* for IE 6 */
  margin: 20px 0;
  font-style: italic;
}
.stay-informed-num span {
  font-size: 22px;
  color: #000;
  position: absolute;
}
.stay-informed-num-text {
  position: absolute;
  left: 0;
  padding-left: 7px;
}
.stay-informed-num-img {
  max-width: 100%;
  width: 250px;
  padding: 20px;
}
